---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import ScreenshotShowcase from '../components/ScreenshotShowcase.astro';
---
<Base>
  <main>
    <Hero />
    <FeatureGrid />
    <ScreenshotShowcase />
  </main>
</Base>
