---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import ScreenshotShowcase from '../components/ScreenshotShowcase.astro';
import CodeSplit from '../components/CodeSplit.astro';
import PluginShowcase from '../components/PluginShowcase.astro';
import McpSection from '../components/McpSection.astro';
import DeployBlock from '../components/DeployBlock.astro';
import FlavorTable from '../components/FlavorTable.astro';
---
<Base>
  <main>
    <Hero />
    <FeatureGrid />
    <ScreenshotShowcase />
    <CodeSplit />
    <PluginShowcase />
    <McpSection />
    <DeployBlock />
    <FlavorTable />
  </main>
</Base>
